.WeatherForecast{
    text-align: center;
    background-color: #fff8f581;
    border: transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px ;
    
}

.WeatherForecast-temperature-min{
    opacity: 0.6;
    margin-left: 5px;
}

.day-icon{
    width: 64px;
}

